@import "./global.css";
body,
html {
  background-color: #eb5757;
  height: calc(100vh - 27px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Zomentum {
  color: rgba(34, 32, 32, 0.822);
  font-size: 40px;
  text-align: center;
}

.section {
  background-color: rgba(34, 32, 32, 0.822);
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  width: fit-content;
  margin: 40px auto;
}

.sign {
  color: white;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 20px;
  width: 300px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: 0;
  display: block;
  margin-bottom: 1em;
}

input:focus {
  border: 1px solid blue;
}

.name {
  background-color: #cfcfcf;
  color: black;
}

.in {
  text-align: center;
  background-color: #eb5757;
  color: white;
  cursor: pointer;
}
